<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>


    {%- assign path_title = include.title -%}
    {%- assign path_category = page.path | split: "/" | first -%}

    {%- if path_category contains "index.md" -%}
      {%- assign path_category = "" -%}
    {% else %}
      {%- assign path_category = path_category | append: " → " -%}
    {%- endif -%}

    <a class="page-title" href="{{ page.path | relative_url | split: '.md' | first }}">{{ path_category }}{{ path_title }}</a>

    <input type="checkbox" id="darkmode-input" />
    <label for="darkmode-input" class="darkmode-toggle">
      <div class="darkmode-toggle-slider"></div>
    </label>
  </div>
</header>
