<footer class="nav-footer">
  <div class="wrapper--fullwidth">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- if page_paths -%}
    <nav class="site-nav">
      {%- assign topic = include.dir | split: "/" | last -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- assign is_page_for_topic = my_page.path contains topic -%}
        {%- if my_page.path contains topic and my_page.title -%}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    </nav>
  {%- endif -%}
  </div>
</footer>