/**
 * Site header
 */
.site-header {
  position: sticky;
  top: 0;
  min-height: $spacing-unit * 1.865;
  border-bottom: 1px solid $grey-color-light;
  background: $header-color;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
  user-select: none;

  .dark & {
    border-bottom: 1px solid darken($background-color--dark, 20%);
    background-color: $header-color--dark;
  }
}

.site-header .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  @include relative-font-size(1.75);
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  
  @include gradient;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


/* Darkmode toggle */

#darkmode-input {
  display: none;
}
.darkmode-toggle {
  display: inline-block;
  width:  56px;
  height: 36px;
  padding: 3px;
  z-index: 5;
  cursor: pointer;
  border-radius: 18px;
  background-color: $section-color;

  .dark & {
    background-color: $section-color--dark;
  }
}
.darkmode-toggle-slider {
  display: inline-block;
  /* position: relative; */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $background-color;
  box-shadow: 0px 0px 5px $shadow-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#darkmode-input:checked + .darkmode-toggle .darkmode-toggle-slider {
  transform: translate(20px, 0px);
  background-color: $background-color--dark;
  box-shadow: 0px 0px 5px $shadow-color;
}



/**
 * Nav footer
 */

.nav-footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  background: $header-color;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);

  .dark & {
    background: $header-color--dark;
    border-top: 1px solid darken($background-color--dark, 20%);
    border-bottom: 1px solid darken($background-color--dark, 20%);

  }
}
.wrapper--fullwidth {
  width: 100%;
  padding: 0 $spacing-unit;
  overflow-x: scroll;
}
.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;
  min-width: min-content;
  display: flex;
  justify-content: center;

  .page-link {
    color: $text-color;
    white-space: nowrap;

    &:hover {
      color: lighten($text-color, 15%);
    }

    .dark & {
      color: $text-color--dark;
    }
    .dark &:hover {
      color: lighten($text-color--dark, 15%);
    }

    // Gaps between nav items
    & {
      margin-right: 20px;
    }
  }

  @media only screen and (min-width: 800px) {
    line-height: $base-line-height * $base-font-size * 1.5;
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-media-list {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;

    li {
      display: inline-block;
    }
  }
}


/* Table of Contents */
.toc {
  position: fixed;
  left: -0.55rem;
  transform: translateX(calc(calc(-1 * min(calc(100vw - 6rem), 17rem))));
  top: 3 * $spacing-unit;
  width: calc(min(calc(100vw - 6rem), 17rem) + 10px);
  height: calc(100vh - #{6 * $spacing-unit});
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border-radius: 0 $border-radius $border-radius 0;
  border: 2px solid darken($section-color, 20%);
  background: transparentize($section-color, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  transition: 0.5s ease;

  &:hover, &.tapped {
    transform: translateX(0);
  }

  &::after {
    content: "❖";
    position: absolute;
    top: 0.5rem;
    right: -3rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-color-dark;
    border-radius: 0 $border-radius $border-radius 0;
    border: 2px solid darken($section-color, 20%);
    border-left: none;  
    background: $section-color;
  }

  .dark & {
    background: transparentize($section-color--dark, 0.2);
    border: 2px solid darken($section-color--dark, 20%);

    &::after {
      color: $grey-color-light;
      background: $section-color--dark;
      border: 2px solid darken($section-color--dark, 20%);
    }
  }

  h3 {
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .list-wrapper {
    height: 80%;
    overflow-y: scroll;
  }
  
  ul {
    list-style: none;
  }
  li {
    position: relative;
  }
  li::before {
    content: "→";
    position: absolute;
    left: -1.5rem;
    top: 0.15rem;
    font-size: 0.8rem;
  }
  li ~ li {
    margin-top: $spacing-unit / 8;
  }

  @media only screen and (min-width: 1000px) {
    h3 {
      font-size: 1.3rem;
    }  

    li ~ li {
      margin-top: $spacing-unit / 2;
    }  
        
  }
}





/* Fork me on Github */
.fork-me-on-github {
  position: fixed;
  right: 0;
  top: 3 * $spacing-unit;
  width: 14rem;
  max-width: $content-width;
  padding: $spacing-unit / 2;
  border-radius: $border-radius 0 0 $border-radius;
  transform: translateX(11rem);
  transition: transform 0.5s ease;
  border: 2px solid darken($section-color, 20%);
  background: transparentize($section-color, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);

  .dark & {
    background: lighten($section-color--dark, 20%);
    border: 2px solid darken($section-color--dark, 20%);
  }

  &:hover, &.tapped {
    transform: translateX(1rem);
  }
}
