/**
 * Site header
 */
.site-header {
  position: sticky;
  top: 0;
  min-height: $spacing-unit * 1.865;
  border-bottom: 1px solid $grey-color-light;
  background-color: $background-color;  
  user-select: none;

  .dark & {
    border-bottom: 1px solid darken($background-color--dark, 20%);
    background-color: $background-color--dark;  
  }
}

.site-header .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  background-color: #7074ff;
  background: linear-gradient(94deg, #ff2a2a, #7074ff);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


#darkmode-input {
  display: none;
}
.darkmode-toggle {
  display: inline-block;
  width:  56px;
  height: 36px;
  padding: 3px;
  z-index: 5;
  cursor: pointer;
  border-radius: 18px;
  background-color: #cacaca;
}
.darkmode-toggle-slider {
  display: inline-block;
  /* position: relative; */
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ecf0f1;
  box-shadow: 0px 0px 5px rgba(5,6,32,0.15);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#darkmode-input:checked + .darkmode-toggle .darkmode-toggle-slider {
  transform: translate(20px, 0px);
  background-color: rgba(5,6,32,1.0);
  box-shadow: 0px 0px 5px rgba(5,6,32,0.35);
}



/**
 * Nav footer
 */

.nav-footer {
  position: sticky;
  bottom: 0;
  background-color: $background-color;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;

  .dark & {
    background-color: $background-color--dark;
    border-top: 1px solid darken($background-color--dark, 20%);
    border-bottom: 1px solid darken($background-color--dark, 20%);

  }
}
.wrapper--fullwidth {
  width: 100%;
  padding: 0 $spacing-unit;
  overflow-x: scroll;
}
.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;
  min-width: min-content;
  display: flex;
  justify-content: center;

  .page-link {
    color: $text-color;

    &:hover {
      color: lighten($text-color, 15%);
    }

    .dark & {
      color: $text-color--dark;
    }
    .dark &:hover {
      color: lighten($text-color--dark, 15%);
    }

    // Gaps between nav items
    & {
      margin-right: 20px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-media-list {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;

    li {
      display: inline-block;
    }
  }
}



.toc {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto $spacing-unit auto;
  padding: $spacing-unit / 2;
  border-radius: $border-radius;

  ul {
    list-style: none;
  }
  li {
    position: relative;
  }
  li::before {
    content: "➜";
    position: absolute;
    left: -1.5rem;

  }
  li ~ li {
    margin-top: $spacing-unit / 8;
  }

  @media only screen and (min-width: 1000px) {
    margin: 0;
    width: calc(calc(50% - #{$content-width / 2}) - #{$spacing-unit});
    max-height: 50vh;
    overflow-y: scroll;
    position: fixed;
    left: $spacing-unit / 2;
    top: 3 * $spacing-unit;
    font-size: 0.6rem;

    ul {
      margin-left: 0;
    }  

    & * {
      font-size: 0.6rem;
    }
  }
}






/**
 * ----------------------------------------
 */





/**
 * Page content
 */

.post {
  min-height: calc(100vh - #{$spacing-unit * 5});
}

.page-content {
  padding: $spacing-unit 0 0 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.8);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
