/**
 * Syntax highlighting styles
 */

.highlight {
  @extend %vertical-rhythm;

  .dark & {
    color: $code-text-color--dark;
  }  

  $color-code-comment: #988;
  $color-code-string: rgb(121, 41, 61);
  $color-code-literal-number: rgb(2, 100, 100);
  $color-code-variable: #008080;
  $color-code-function: rgb(202, 65, 65);
  $color-code-string: rgb(131, 26, 52);
  $color-code-string-regex: #009926;
  $color-code-string-symbol: #990073;
  $color-code-class: #458;
  $color-code-error: #a61717;
  $color-code-entity: #800080;

  .dark & {
    $color-code-comment: #988;
    $color-code-string: rgb(221, 75, 111);
    $color-code-literal-number: rgb(0, 155, 155);
    $color-code-variable: #008080;
    $color-code-function: rgb(202, 65, 65);
    $color-code-string: rgb(230, 73, 112);
    $color-code-string-regex: #009926;
    $color-code-string-symbol: #990073;
    $color-code-class: #458;
    $color-code-error: #a61717;
    $color-code-entity: #800080;
  }  


  .c     { color: $color-code-comment; font-style: italic } // Comment
  .err   { color: $color-code-error; background-color: #e3d2d2 } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: $color-code-comment; font-style: italic } // Comment.Multiline
  .cp    { color: $color-code-comment; font-weight: bold } // Comment.Preproc
  .c1    { color: $color-code-comment; font-style: italic } // Comment.Single
  .cs    { color: $color-code-comment; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { background-color: #fdd } // Generic.Deleted
  .gd .x { background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $color-code-error } // Generic.Error
  .gh    { color: $color-code-comment } // Generic.Heading
  .gi    { background-color: #dfd } // Generic.Inserted
  .gi .x { background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: $color-code-class; font-weight: bold } // Keyword.Type
  .m     { color: $color-code-literal-number } // Literal.Number
  .s     { color: $color-code-string } // Literal.String
  .na    { color: $color-code-literal-number } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: $color-code-class; font-weight: bold } // Name.Class
  .no    { color: $color-code-literal-number } // Name.Constant
  .ni    { color: $color-code-entity } // Name.Entity
  .ne    { color: $color-code-function; font-weight: bold } // Name.Exception
  .nf    { color: $color-code-function; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    {  } // Name.Tag
  .nv    { color: $color-code-literal-number } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: $color-code-literal-number  } // Literal.Number.Float
  .mh    { color: $color-code-literal-number  } // Literal.Number.Hex
  .mi    { color: $color-code-literal-number  } // Literal.Number.Integer
  .mo    { color: $color-code-literal-number  } // Literal.Number.Oct
  .sb    { color: $color-code-string } // Literal.String.Backtick
  .sc    { color: $color-code-string } // Literal.String.Char
  .sd    { color: $color-code-string } // Literal.String.Doc
  .s2    { color: $color-code-string } // Literal.String.Double
  .se    { color: $color-code-string } // Literal.String.Escape
  .sh    { color: $color-code-string } // Literal.String.Heredoc
  .si    { color: $color-code-string } // Literal.String.Interpol
  .sx    { color: $color-code-string } // Literal.String.Other
  .sr    { color: $color-code-string-regex } // Literal.String.Regex
  .s1    { color: $color-code-string } // Literal.String.Single
  .ss    { color: $color-code-string-symbol } // Literal.String.Symbol
  .bp    { color: $color-code-comment } // Name.Builtin.Pseudo
  .vc    { color: $color-code-literal-number } // Name.Variable.Class
  .vg    { color: $color-code-literal-number } // Name.Variable.Global
  .vi    { color: $color-code-literal-number } // Name.Variable.Instance
  .il    { color: $color-code-literal-number  } // Literal.Number.Integer.Long
}
