<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html title=page.title -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <aside class="toc">
          <h3>Table of Contents</h3>
          <div class="list-wrapper">
            <ul></ul>
          </div>
        </aside>
        <aside class="fork-me-on-github">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg>
          <a href="https://github.com/markusdoppler/Coder"><span class="username">Fork on Github</span></a>
        </aside>
        {{ content }}
      </div>
      {%- include navfooter.html dir=page.dir -%}
    </main>
    
    {%- include footer.html -%}

  </body>

</html>
